NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173

MONGO_URI=mongodb+srv://ndsf999_db_user:bq8uTXpYuuuLfAhe@cluster0.vptojr2.mongodb.net/opportunity_bridge?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=ruhuna_tech_faculty_opportunity_bridge_secret_key_2026
JWT_EXPIRES_IN=30d
